@model CoAutoWeb.Models.EntregaViewModel

<h4>EntregaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto1" class="control-label"></label>
                <input asp-for="Foto1" class="form-control" />
                <span asp-validation-for="Foto1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto2" class="control-label"></label>
                <input asp-for="Foto2" class="form-control" />
                <span asp-validation-for="Foto2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto3" class="control-label"></label>
                <input asp-for="Foto3" class="form-control" />
                <span asp-validation-for="Foto3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto4" class="control-label"></label>
                <input asp-for="Foto4" class="form-control" />
                <span asp-validation-for="Foto4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto5" class="control-label"></label>
                <input asp-for="Foto5" class="form-control" />
                <span asp-validation-for="Foto5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
