@model IEnumerable<CoAutoWeb.Models.PessoaViewModel>

@{
    ViewData["Title"] = "Perfil";
}

<hr>
</hr>
<h1>PERFIL</h1>
<hr>
</hr>


<h4><strong>Avaliações</strong></h4>
<p style="color:deepskyblue">Alugueis</p>
<p style="color:red">Compartilhamentos</p>
