/Codigo/CoAuto/Core/obj
/Codigo/CoAuto/Core/bin
/Codigo/CoAuto/Service/obj
/Codigo/CoAuto/Service/bin
/Codigo/CoAuto/CoAutoWeb/obj
/Codigo/CoAuto/CoAutoWeb/bin
/Codigo/CoAuto/.vs
.DS_Store
/Codigo/CoAuto/CoAutoWebTests/obj
/Codigo/CoAuto/CoAutoWebTests/bin
/Codigo/CoAuto/ServiceTests/obj
/Codigo/CoAuto/ServiceTests/bin
/Codigo/CoAuto/TestResults
