@model CoAutoWeb.Models.BancoViewModel

<h1 style="color:dodgerblue">Criar banco</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <br />
                <input asp-for="Nome" class="form-control" style="border-radius:1rem" />
                <br />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" style="border-radius:2rem;width:9rem;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="text-decoration:none">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
