@model CoAutoWeb.Models.BancoViewModel


<div>
    <h3 style="color:red">Você realmente quer excluir isto?</h3>
    <br /><br /><br />
    <dl class="row">

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    <br /><br />
    <form asp-action="Delete">
        <input type="submit" value="Deletar" class="btn btn-danger" style="border-radius:2rem;width:9rem;" />
    </form>
    <br />
    <a asp-action="Index" style="text-decoration:none">Retornar</a>

</div>
