@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h3>Encontre seu Veículo</h3>
    <br />
    <p><strong>Explore o maior mercado de compartilhamento de veículos do Brasil.</strong></p>
    <div class="container" style="align-items:initial">

        <a>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="https://s3-symbol-logo.tradingview.com/ford--600.png" style="width:contain;height:contain" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Ford</p>
                </div>
            </div>
    </div>
    </a>
</div>