@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1>
    <span class="display-4" style="color:red;">CO</span>
    <span class="display-4" style="color:blue;">AUTO</span>
        </h1>
    <p>Seu site de compartilhamento de veículos!</p>
</div>

