@{
    ViewData["Title"] = "Home Page";
}


<div class="container" style="background-color:white;border-radius:2rem;width:20rem;height:18rem">
    <p><strong>Onde</strong></p>
    <div class="form-floating" >
        <input class="form-control" style="height:3rem;" autocomplete="Itabaiana, SE" />
        <hr />
        <p><strong>De</strong></p>
        <input type="datetime-local" style="border-radius:1rem"  />
        <hr />
        <p><strong>Até</strong></p>
        <input type="datetime-local" style="border-radius:1rem" />
        <hr />
        <button type="button" class="btn btn-primary" style="border-radius:15px;width:18rem;">Pesquisar</button>
    </div>

</div>

<br />
<br />
<br /><br />

<img src="https://blueacademy.hyundai.pt/wp-content/uploads/2022/09/IONIQ-5.jpg" class="img-fluid" alt="Imagem de um homem com um carro">
<div class="text-center">
    <br /><br />
    <h3>Encontre seu Veículo</h3>
    <br />
    <p><strong>Explore o maior mercado de compartilhamento de veículos do Brasil.</strong></p>
</div>
    <p><strong>Pesquise por marca</strong></p>
    <div class="container">
        <div class="card-group">
         <a>
                <div class="card" style="width: 12rem;height:16rem;margin-left:1rem;margin-right:1rem;margin-top:1rem;margin-bottom:1rem">
                <img class="card-img-top" src="https://s3-symbol-logo.tradingview.com/ford--600.png" style="width:contain;height:contain" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Ford</p>
                </div>
                        
                
            </div> 
         </a>
         <a>
                <div class="card" style="width: 12rem;height:16rem;margin-left:1rem;margin-right:1rem;margin-top:1rem;margin-bottom:1rem">
                <img class="card-img-top" src="https://moparstore.co.uk/media/catalog/product/8/9/8956D32BFC7432439ED4C8BCBA1CE039_3.jpg?optimize=medium&fit=bounds&height=823&width=700" style="width:contain;height:contain" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Fiat</p>
                </div>
            </div>
        </a>
        <a>
                <div class="card" style="width: 12rem;height:16rem;margin-left:1rem;margin-right:1rem;margin-top:1rem;margin-bottom:1rem">
                    <img class="card-img-top" src="https://thumbs.dreamstime.com/b/web-183281772.jpg" style="width:contain;height:contain" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Honda</p>
                </div>
            </div>
        </a>

            <a>
                <div class="card" style="width: 12rem;height:16rem;margin-left:1rem;margin-right:1rem;margin-top:1rem;margin-bottom:1rem">
                    <img class="card-img-top" src="https://sharonshamladesign.files.wordpress.com/2015/06/bmw.jpg" style="width:contain;height:contain" alt="Imagem de capa do card">
                    <div class="card-body">
                        <p class="card-text">BMW</p>
                    </div>
                </div>
            </a>


        <a>
            <div class="card" style="width: 12rem;height:16rem;margin-left:1rem;margin-right:1rem;margin-top:1rem;margin-bottom:1rem">
                <img class="card-img-top" src="https://lezebre.lu/images/detailed/17/30632-Chevrolet.png" style="width:contain;height:contain" alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Chevrolet</p>
                </div>
            </div>
        </a>

        </div>
    </div>
